server/src/main/java/com/gamewsdl/GameSoapService.wsdl

<?xml version="1.0" ?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://place.answer.game/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="GameSoapServiceService" targetNamespace="http://place.answer.game/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://place.answer.game/" elementFormDefault="unqualified" targetNamespace="http://place.answer.game/" version="1.0">

  <xs:element name="getNewPowerLevels" type="tns:getNewPowerLevels"></xs:element>

  <xs:element name="getNewPowerLevelsResponse" type="tns:getNewPowerLevelsResponse"></xs:element>

  <xs:complexType name="getNewPowerLevels">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="arg0" type="tns:powerDto"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="powerDto">
    <xs:sequence>
      <xs:element name="id" type="xs:int"></xs:element>
      <xs:element name="powerLevel" type="xs:int"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getNewPowerLevelsResponse">
    <xs:sequence></xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="getNewPowerLevels">
    <wsdl:part element="tns:getNewPowerLevels" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getNewPowerLevelsResponse">
    <wsdl:part element="tns:getNewPowerLevelsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="GameSoapServiceImpl">
    <wsdl:operation name="getNewPowerLevels">
      <wsdl:input message="tns:getNewPowerLevels" name="getNewPowerLevels">
    </wsdl:input>
      <wsdl:output message="tns:getNewPowerLevelsResponse" name="getNewPowerLevelsResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GameSoapServiceServiceSoapBinding" type="tns:GameSoapServiceImpl">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
    <wsdl:operation name="getNewPowerLevels">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getNewPowerLevels">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getNewPowerLevelsResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GameSoapServiceService">
    <wsdl:port binding="tns:GameSoapServiceServiceSoapBinding" name="GameSoapServicePort">
      <soap:address location="http://localhost:8080/game/GameSoapService"></soap:address>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>